#view>* {
  border: 1px solid green;
}

.half {
  height: calc(50vh - 50px);
  overflow-y: auto;
}

.other-half {
  height: calc(50vh - 60px);
  overflow-y: auto;
}

[uif].hover {
  box-shadow: 0 0 0 1px inset rgba(0, 255, 170, 0.8), 0 0 0 1px rgba(0, 255, 170, 0.8); 
}

[uif].picked {
  box-shadow: 0 0 0 1px inset rgba(255, 255, 0, 0.8), 0 0 0 1px rgba(255, 255, 0, 0.8);
}

[uif]:hover {
  box-shadow: 0 0 0 1px inset rgba(255, 0, 0, 0.8), 0 0 0 1px rgba(255, 0, 0, 0.8);
}

[uif].picked:hover {
  box-shadow: 0 0 0 1px inset rgba(60, 255, 0, 0.8), 0 0 0 1px rgba(60, 255, 0, 0.8);
}


.tree span.sub {
  color: yellow;
}

.tree .current>.caption .sub {
  color: orange;
}

::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #aaa;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #545454;
}

::-webkit-scrollbar-thumb:hover {
  background: #646464
}

.cell-fixed {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 420px;
  flex: 0 0 420px;
  max-width: 420px;
}

._loading {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 350px;
  height: 40px;
  background-color: white;
  transform: translateX(-50%) translateY(-50%);
  z-index: 2001;
}

._loading ._text {
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 40px;
  color: black;
  text-align: center;
  z-index: 2003;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 27px;
}

._loading ._progress {
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: cornflowerblue;
  z-index: 2002;
}

._wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, 0.5);
}

